<div class="row">
	<div class="col">
	  <a href="#"
		><img
		  src="/images/logo.png"
		  class="img-fluid"
		  alt="Mavim Truck"
		  style="padding: 15px; display: block; margin: 0 auto;"
	  /></a>
	</div>
  </div>
  <nav class="navbar navbar-dark  navbar-expand-md text-white " style="background-color: #2980b9; border-radius: 3px;">
	<div class="container">
		<a href='/' class="navbar-brand " style="font-size:20px"><i>mavim</i><b>truck</b></a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-mavimtruck" aria-control="navbar-mavimtruck">
		<span class="navbar-toggler-icon "></span></button>
	<div class="collapse navbar-collapse" id="navbar-mavimtruck">
		<ul class="list-unstyled navbar-nav ml-auto">
			<li class="nav-item px-3 "><a href='/' class="nav-link text-white">Anasayfa</a></li>
			<li class="nav-item px-3"><a href='/profil' class="nav-link text-white">Profil</a></li>
			<li class="nav-item px-3"><a href='/hakkinda' class="nav-link text-white">Hakkında</a></li>
			<li class="nav-item px-3"><a href='/iletisim' class="nav-link text-white">İletişim</a></li>
		</ul>
	</div>
	</div>
</nav>