<div class="row" style="margin-top: 15px; background-color: #f8f9fa; margin-left: 0px; margin-right: 0px; padding: 15px;">
    <div class="col-lg-4">
        <h6><i class="fas fa-building"></i> Hakkımızda</h6>
        <p>Freelance Şöförler İle Şirket Arasındaki Bağı Kuruyoruz</p>
    </div>
<div class="col-lg-4">
    <h6><i class="fas fa-file-alt"></i> Sayfalar</h6>
    <ul class="linkler">
        <li class="nav-item-footer">
            <a class="nav-link-footer" href="/hakkimizda"><i class="fas fa-arrow-right"></i>Hakkımızda</a>
        </li>
        <li class="nav-item-footer">
            <a class="nav-link-footer" href="/iletisim"><i class="fas fa-arrow-right"></i>İletişim</a>
        </li>
      
    </ul>
</div>
<div class="col-lg-4">
    <h6><i class="fas fa-envelope"></i> İletişim</h6>
    <p>Mail: info@mavimtruck.com</p> 
    <p>Telefon: 0246 123 45 678</p> 
</div>
</div>