<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Giriş Yap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container">

 <form method="post" action="/isveren/login">

  
  <div class="form-group">
    <label for="sirket_adi">Şirket Adı</label>
    <input  class="form-control" id="sirket_adi" name="sirket_adi"  type="textares" autofocus> </input>
  </div>

  <div class="form-group">
    <label for="sifre">Şifre</label>
    <input class="form-control" id="sifre" name="sifre" type="password" value="" /> 
  </div>

  <div class="form-actions">
    <button class="btn btn-success" type="submit">Giriş Yap</button>
  </div>
</form>
</body>
</html>
