<!DOCTYPE html>
<html>

<head>
    <title>İş Oluştur</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>

<body>
  <div class="container">
      <% include partials/baslik.ejs %>
      <br>
    <div class="row">
      <div class="col">
          
        <form method="post" action="/is/olustur">
          <h3>İş Bilgileri</h3>
          <div class="form-group">
            <label for="exampleFormControlInput1">İlan Başlığı: </label>
            <input type="text" class="form-control" id="ilan_basligi" name="ilan_basligi" placeholder="İlan Başlığı">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Hareket Yeri: </label>
            <select class="form-control" id="hareket_yeri" name="hareket_yeri">
              <option value="Adana">Adana</option>
    <option value="Adıyaman">Adıyaman</option>
    <option value="Afyonkarahisar">Afyonkarahisar</option>
    <option value="Ağrı">Ağrı</option>
    <option value="Amasya">Amasya</option>
    <option value="Ankara">Ankara</option>
    <option value="Antalya">Antalya</option>
    <option value="Artvin">Artvin</option>
    <option value="Aydın">Aydın</option>
    <option value="Balıkesir">Balıkesir</option>
    <option value="Bilecik">Bilecik</option>
    <option value="Bingöl">Bingöl</option>
    <option value="Bitlis">Bitlis</option>
    <option value="Bolu">Bolu</option>
    <option value="Burdur">Burdur</option>
    <option value="Bursa">Bursa</option>
    <option value="Çanakkale">Çanakkale</option>
    <option value="Çankırı">Çankırı</option>
    <option value="Çorum">Çorum</option>
    <option value="Denizli">Denizli</option>
    <option value="Diyarbakır">Diyarbakır</option>
    <option value="Edirne">Edirne</option>
    <option value="Elazığ">Elazığ</option>
    <option value="Erzincan">Erzincan</option>
    <option value="Erzurum">Erzurum</option>
    <option value="Eskişehir">Eskişehir</option>
    <option value="Gaziantep">Gaziantep</option>
    <option value="Giresun">Giresun</option>
    <option value="Gümüşhane">Gümüşhane</option>
    <option value="Hakkâri">Hakkâri</option>
    <option value="Hatay">Hatay</option>
    <option value="Isparta">Isparta</option>
    <option value="Mersin">Mersin</option>
    <option value="İstanbul">İstanbul</option>
    <option value="İzmir">İzmir</option>
    <option value="Kars">Kars</option>
    <option value="Kastamonu">Kastamonu</option>
    <option value="Kayseri">Kayseri</option>
    <option value="Kırklareli">Kırklareli</option>
    <option value="Kırşehir">Kırşehir</option>
    <option value="Kocaeli">Kocaeli</option>
    <option value="Konya">Konya</option>
    <option value="Kütahya">Kütahya</option>
    <option value="Malatya">Malatya</option>
    <option value="Manisa">Manisa</option>
    <option value="Kahramanmaraş">Kahramanmaraş</option>
    <option value="Mardin">Mardin</option>
    <option value="Muğla">Muğla</option>
    <option value="Muş">Muş</option>
    <option value="Nevşehir">Nevşehir</option>
    <option value="Niğde">Niğde</option>
    <option value="Ordu">Ordu</option>
    <option value="Rize">Rize</option>
    <option value="Sakarya">Sakarya</option>
    <option value="Samsun">Samsun</option>
    <option value="Siirt">Siirt</option>
    <option value="Sinop">Sinop</option>
    <option value="Sivas">Sivas</option>
    <option value="Tekirdağ">Tekirdağ</option>
    <option value="Tokat">Tokat</option>
    <option value="Trabzon">Trabzon</option>
    <option value="Tunceli">Tunceli</option>
    <option value="Şanlıurfa">Şanlıurfa</option>
    <option value="Uşak">Uşak</option>
    <option value="Van">Van</option>
    <option value="Yozgat">Yozgat</option>
    <option value="Zonguldak">Zonguldak</option>
    <option value="Aksaray">Aksaray</option>
    <option value="Bayburt">Bayburt</option>
    <option value="Karaman">Karaman</option>
    <option value="Kırıkkale">Kırıkkale</option>
    <option value="Batman">Batman</option>
    <option value="Şırnak">Şırnak</option>
    <option value="Bartın">Bartın</option>
    <option value="Ardahan">Ardahan</option>
    <option value="Iğdır">Iğdır</option>
    <option value="Yalova">Yalova</option>
    <option value="Karabük">Karabük</option>
    <option value="Kilis">Kilis</option>
    <option value="Osmaniye">Osmaniye</option>
    <option value="Düzce">Düzce</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Varış Yeri: </label>
            <select class="form-control" id="varis_yeri" name="varis_yeri">
              <option value="Adana">Adana</option>
    <option value="Adıyaman">Adıyaman</option>
    <option value="Afyonkarahisar">Afyonkarahisar</option>
    <option value="Ağrı">Ağrı</option>
    <option value="Amasya">Amasya</option>
    <option value="Ankara">Ankara</option>
    <option value="Antalya">Antalya</option>
    <option value="Artvin">Artvin</option>
    <option value="Aydın">Aydın</option>
    <option value="Balıkesir">Balıkesir</option>
    <option value="Bilecik">Bilecik</option>
    <option value="Bingöl">Bingöl</option>
    <option value="Bitlis">Bitlis</option>
    <option value="Bolu">Bolu</option>
    <option value="Burdur">Burdur</option>
    <option value="Bursa">Bursa</option>
    <option value="Çanakkale">Çanakkale</option>
    <option value="Çankırı">Çankırı</option>
    <option value="Çorum">Çorum</option>
    <option value="Denizli">Denizli</option>
    <option value="Diyarbakır">Diyarbakır</option>
    <option value="Edirne">Edirne</option>
    <option value="Elazığ">Elazığ</option>
    <option value="Erzincan">Erzincan</option>
    <option value="Erzurum">Erzurum</option>
    <option value="Eskişehir">Eskişehir</option>
    <option value="Gaziantep">Gaziantep</option>
    <option value="Giresun">Giresun</option>
    <option value="Gümüşhane">Gümüşhane</option>
    <option value="Hakkâri">Hakkâri</option>
    <option value="Hatay">Hatay</option>
    <option value="Isparta">Isparta</option>
    <option value="Mersin">Mersin</option>
    <option value="İstanbul">İstanbul</option>
    <option value="İzmir">İzmir</option>
    <option value="Kars">Kars</option>
    <option value="Kastamonu">Kastamonu</option>
    <option value="Kayseri">Kayseri</option>
    <option value="Kırklareli">Kırklareli</option>
    <option value="Kırşehir">Kırşehir</option>
    <option value="Kocaeli">Kocaeli</option>
    <option value="Konya">Konya</option>
    <option value="Kütahya">Kütahya</option>
    <option value="Malatya">Malatya</option>
    <option value="Manisa">Manisa</option>
    <option value="Kahramanmaraş">Kahramanmaraş</option>
    <option value="Mardin">Mardin</option>
    <option value="Muğla">Muğla</option>
    <option value="Muş">Muş</option>
    <option value="Nevşehir">Nevşehir</option>
    <option value="Niğde">Niğde</option>
    <option value="Ordu">Ordu</option>
    <option value="Rize">Rize</option>
    <option value="Sakarya">Sakarya</option>
    <option value="Samsun">Samsun</option>
    <option value="Siirt">Siirt</option>
    <option value="Sinop">Sinop</option>
    <option value="Sivas">Sivas</option>
    <option value="Tekirdağ">Tekirdağ</option>
    <option value="Tokat">Tokat</option>
    <option value="Trabzon">Trabzon</option>
    <option value="Tunceli">Tunceli</option>
    <option value="Şanlıurfa">Şanlıurfa</option>
    <option value="Uşak">Uşak</option>
    <option value="Van">Van</option>
    <option value="Yozgat">Yozgat</option>
    <option value="Zonguldak">Zonguldak</option>
    <option value="Aksaray">Aksaray</option>
    <option value="Bayburt">Bayburt</option>
    <option value="Karaman">Karaman</option>
    <option value="Kırıkkale">Kırıkkale</option>
    <option value="Batman">Batman</option>
    <option value="Şırnak">Şırnak</option>
    <option value="Bartın">Bartın</option>
    <option value="Ardahan">Ardahan</option>
    <option value="Iğdır">Iğdır</option>
    <option value="Yalova">Yalova</option>
    <option value="Karabük">Karabük</option>
    <option value="Kilis">Kilis</option>
    <option value="Osmaniye">Osmaniye</option>
    <option value="Düzce">Düzce</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Kasa Tipi: </label>
            <select class="form-control" id="arac_kasa_tipi" name="arac_kasa_tipi">
              <option value="acikDamperli">Açık(damperli)</option>
              <option value="acikDampersiz">Açık(dampersiz)</option>
              <option value="kapali">Kapalı</option>
              <option value="tanker">Tanker</option>
              <option value="kapaksiz">Kapaksız</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Maksimum Yük Kapasitesi: </label>
            <input type="number" class="form-control" id="arac_kapasitesi" name="arac_kapasitesi" placeholder="Kilogram cinsinden maksimum kapasite">
          </div>
          <div class="form-group">
              <label for="exampleFormControlInput1">İş Ücreti: </label>
              <input type="text" class="form-control" id="is_fiyati" name="is_fiyati" placeholder="İş için teklif edilen ücret.">
            </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Yük Cinsi: </label>
            <input type="text" class="form-control" id="yuk_cinsi" name="yuk_cinsi" placeholder="Yük cinsini girin.">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">İş Tarihi: </label>
            <input type="date" class="form-control" id="is_tarihi" name="is_tarihi" placeholder="İş tarihini girin.">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Son Başvuru Tarihi: </label>
            <input type="date" class="form-control" id="son_basvuru_tarihi" name="son_basvuru_tarihi" placeholder="Son başvuru tarihini girin.">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">İş İçin Tanınan Süre: </label>
            <input type="text" class="form-control" id="is_suresi" name="is_suresi" placeholder="İş için tanınan süreyi girin.">
          </div>
          <h3>Gerekli Sertifikalar</h3>
          <div class="form-group">
            <label for="exampleFormControlInput1">SRC Belgesi: </label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="src3" name="src3" value="src3">
              <label class="form-check-label" for="inlineCheckbox1">SRC3</label>

              <input class="form-check-input" type="checkbox" id="src4" name="src4" value="src4">
              <label class="form-check-label" for="inlineCheckbox2">SRC4</label>

              <input class="form-check-input" type="checkbox" id="src5" name="src5" value="src5">
              <label class="form-check-label" for="inlineCheckbox2">SRC5</label>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">K Belgesi: </label><br>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="k1" name="k1" value="k1">
                <label class="form-check-label" for="k1">K1</label>

                <input class="form-check-input" type="checkbox" id="k2" name="k2" value="k2">
                <label class="form-check-label" for="k2">K2</label>
              </div>
            </div>

          </div>

          <button type="submit" class="btn btn-primary">İş Oluştur</button>
        </form>
      </div>

    </div>
    <% include partials/footer.ejs %>
  </div>

</body>

</html>