<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Forms in Node.js</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css">
</head>
<body class="container">

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="sofor-tab" data-toggle="tab" href="#sofor" role="tab" aria-controls="sofor" aria-selected="true">Şoför</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="isveren-tab" data-toggle="tab" href="#isveren" role="tab" aria-controls="isveren" aria-selected="false">İşveren</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="sofor" role="tabpanel" aria-labelledby="sofor-tab">
  <form method="post" action="/sofor/login">
		<div class="form-group">
			<label for="E-Posta">E-Posta</label>
			<input  class="form-control" id="e_posta" name="e_posta"  type="textares" autofocus> </input>
		</div>

		<div class="form-group">
			<label for="projeadi">Şifre</label>
			<input class="form-control" id="sifre" name="sifre" type="password" value="" /> 
		</div>

		<div class="form-actions">
			<button class="btn btn-primary" type="submit">Giriş Yap</button>
		</div>
	</form>
	</div>
  <div class="tab-pane fade" id="isveren" role="tabpanel" aria-labelledby="isveren-tab">
	<form method="post" action="/isveren/login">
		<div class="form-group">
			<label for="Şirket Adı">Şirket Adı</label>
			<input  class="form-control" id="sirket_adi" name="sirket_adi"  type="textares" autofocus> </input>
		</div>

		<div class="form-group">
			<label for="projeadi">Şifre</label>
			<input class="form-control" id="sifre" name="sifre" type="password" value="" /> 
		</div>

		<div class="form-actions">
			<button class="btn btn-primary" type="submit">Giriş Yap</button>
		</div>
	</form>
  </div>
</div>
</body>
</html>